<Configs>
<Config>
  <ConfigName>Settings</ConfigName>
  <Option>
    <Name>Customer</Name>
    <Title>客户</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>Multak</Item>
      <Item>Persang</Item>
      <Item>Russia</Item>
      <Item>NKorea</Item>
      <Item>MediaCom</Item>
    </Items>
  </Option>
  <Option>
    <Name>PrivateKey</Name>
    <Title>PrivateKey</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>mu</Item>
      <Item>in</Item>
      <Item>ru</Item>
      <Item>nk</Item>
      <Item>mc</Item>
    </Items>
  </Option>
  <Option>
    <Name>Display</Name>
    <Title>显示</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>AUTO</Item>
    </Items>
  </Option>
  <Option>
    <Name>FontFiles</Name>
    <Title>字库文件</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>NotoSansRererve.ttf</Item>
    </Items>
  </Option>
  <Option>
    <Name>FontLan</Name>
    <Title>字库文件语言</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>0</Item>
    </Items>
  </Option>
  <Option>
    <Name>ScoreLevel</Name>
    <Title>评分等级</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>easy</Item>
      <Item>normal</Item>
      <Item>hard</Item>
    </Items>
  </Option>
  <Option>
    <Name>Language</Name>
    <Title>语言</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>英文</Item>
      <Item>中文</Item>
      <Item>俄文</Item>
    </Items>
  </Option>
  <Option>
    <Name>AbbLanguage</Name>
    <Title>语言缩写</Title>
    <Current>0</Current>
    <Default>1</Default>
    <Items>
      <Item>en</Item>
      <Item>en</Item>
      <Item>ru</Item>
    </Items>
  </Option>
  <Option>
    <Name>PlayMode</Name>
    <Title>播放模式</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>normal</Item>
      <Item>repeat</Item>
      <Item>continue</Item>
      <Item>random</Item>
    </Items>
  </Option>
  <Option>
    <Name>Bgv</Name>
    <Title>背景</Title>
    <Current>0</Current>
    <Default>2</Default>
    <Items>
      <Item>off</Item>
      <Item>images</Item>
      <Item>video</Item>
    </Items>
  </Option>
  <Option>
    <Name>Audio</Name>
    <Title>音频输出</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>AUTO</Item>
      <Item>ANALOG</Item>
    </Items>
  </Option>
  <Option>
    <Name>Mute</Name>
    <Title>静音</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Minimum>0</Minimum>
    <Maximum>1</Maximum>
  </Option>
  <Option>
    <Name>Tempo</Name>
    <Title>速度</Title>
    <Current>6</Current>
    <Default>6</Default>
    <Minimum>0</Minimum>
    <Maximum>12</Maximum>
  </Option>
  <Option>
    <Name>Key</Name>
    <Title>音调</Title>
    <Current>6</Current>
    <Default>6</Default>
    <Minimum>0</Minimum>
    <Maximum>12</Maximum>
  </Option>
  <Option>
    <Name>Rhythm</Name>
    <Title>主旋律</Title>
    <Current>100</Current>
    <Default>100</Default>
    <Minimum>0</Minimum>
    <Maximum>100</Maximum>
  </Option>
  <Option>
    <Name>VoiceVol</Name>
    <Title>人声</Title>
    <Current>48</Current>
    <Default>48</Default>
    <Minimum>0</Minimum>
    <Maximum>100</Maximum>
  </Option>
  <Option>
    <Name>AccomanyVol</Name>
    <Title>伴奏</Title>
    <Current>64</Current>
    <Default>64</Default>
    <Minimum>0</Minimum>
    <Maximum>100</Maximum>
  </Option>
  <Option>
    <Name>TotalVol</Name>
    <Title>总音量</Title>
    <Current>100</Current>
    <Default>100</Default>
    <Minimum>0</Minimum>
    <Maximum>100</Maximum>
  </Option>
  <Option>
    <Name>RecVol</Name>
    <Title>录音音量</Title>
    <Current>50</Current>
    <Default>50</Default>
    <Minimum>0</Minimum>
    <Maximum>100</Maximum>
  </Option>
  <Option>
    <Name>Echo</Name>
    <Title>混响</Title>
    <Current>6</Current>
    <Default>6</Default>
    <Minimum>0</Minimum>
    <Maximum>12</Maximum>
  </Option>
  <Option>
    <Name>MicVol1</Name>
    <Title>左话筒音量</Title>
    <Current>10</Current>
    <Default>10</Default>
    <Minimum>0</Minimum>
    <Maximum>12</Maximum>
  </Option>
  <Option>
    <Name>MicVol2</Name>
    <Title>右话筒音量</Title>
    <Current>10</Current>
    <Default>10</Default>
    <Minimum>0</Minimum>
    <Maximum>12</Maximum>
  </Option>
  <Option>
    <Name>WMicVol1</Name>
    <Title>左无线话筒音量</Title>
    <Current>10</Current>
    <Default>10</Default>
    <Minimum>0</Minimum>
    <Maximum>12</Maximum>
  </Option>
  <Option>
    <Name>WMicVol2</Name>
    <Title>右无线话筒音量</Title>
    <Current>10</Current>
    <Default>10</Default>
    <Minimum>0</Minimum>
    <Maximum>12</Maximum>
  </Option>
  <Option>
    <Name>InChannels</Name>
    <Title>输入声道</Title>
    <Current>4</Current>
    <Default>4</Default>
    <Minimum>0</Minimum>
    <Maximum>4</Maximum>
  </Option>
  <Option>
    <Name>OutChannels</Name>
    <Title>输出声道</Title>
    <Current>2</Current>
    <Default>2</Default>
    <Minimum>2</Minimum>
    <Maximum>6</Maximum>
  </Option>
  <Option>
    <Name>InRate</Name>
    <Title>输入采样率</Title>
    <Current>48000</Current>
    <Default>48000</Default>
    <Minimum>32000</Minimum>
    <Maximum>48000</Maximum>
  </Option>
  <Option>
    <Name>OutRate</Name>
    <Title>输出采样率</Title>
    <Current>48000</Current>
    <Default>48000</Default>
    <Minimum>32000</Minimum>
    <Maximum>48000</Maximum>
  </Option>
  <Option>
    <Name>Latency</Name>
    <Title>话筒延迟</Title>
    <Current>20</Current>
    <Default>20</Default>
    <Minimum>0</Minimum>
    <Maximum>1040</Maximum>
  </Option>
  <Option>
    <Name>Rec</Name>
    <Title>录音开关</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Minimum>0</Minimum>
    <Maximum>1</Maximum>
  </Option>
  <Option>
    <Name>VocalType</Name>
    <Title>人声开关</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Items>
      <Item>on</Item>
      <Item>off</Item>
      <Item>auto</Item>
    </Items>
  </Option>
  <Option>
    <Name>Repeat</Name>
    <Title>循环播放</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Minimum>0</Minimum>
    <Maximum>1</Maximum>
  </Option>
  <Option>
    <Name>Ifun</Name>
    <Title>染色条</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Minimum>0</Minimum>
    <Maximum>1</Maximum>
  </Option>
  <Option>
    <Name>Score</Name>
    <Title>评分</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Minimum>0</Minimum>
    <Maximum>1</Maximum>
  </Option>
  <Option>
    <Name>Lyric</Name>
    <Title>歌词</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Minimum>0</Minimum>
    <Maximum>3</Maximum>
  </Option>
  <Option>
    <Name>SearchType</Name>
    <Title>搜索类型</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>number</Item>
      <Item>title</Item>
      <Item>singer</Item>
      <Item>prog</Item>
      <Item>fav</Item>
    </Items>
  </Option>
  <Option>
    <Name>TestMode</Name>
    <Title>测试模式</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>TestMode_Off</Item>
      <Item>TestMode_On</Item>
    </Items>
  </Option>
  <Option>
    <Name>MyDownload</Name>
    <Title>我的下载菜单</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Items>
      <Item>MyDownload_Off</Item>
      <Item>MyDownload_On</Item>
    </Items>
  </Option>
  <Option>
    <Name>GameMenu</Name>
    <Title>Game菜单</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>Off</Item>
      <Item>On</Item>
    </Items>
  </Option>
  <Option>
    <Name>TitleMenu</Name>
    <Title>歌名菜单</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>Off</Item>
      <Item>On</Item>
    </Items>
  </Option>
  <Option>
    <Name>TitleMenuLan</Name>
    <Title>title菜单曲种</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Minimum>0</Minimum>
    <Maximum>30</Maximum>
  </Option>
  <Option>
    <Name>SNType</Name>
    <Title>序列号类型</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>CID</Item>
      <Item>MSN</Item>
      <Item>BOTH</Item>
    </Items>
  </Option>
  <Option>
    <Name>ProductCID</Name>
    <Title>产品绑定CID</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>62</Item>
    </Items>
  </Option>
  <Option>
    <Name>NoTitleInLan</Name>
    <Title>语言菜单不列出Title</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>显示</Item>
      <Item>不显示</Item>
    </Items>
  </Option>
  <Option>
    <Name>LanguageListTop</Name>
    <Title>语言菜单首位</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Minimum>0</Minimum>
    <Maximum>100</Maximum>
  </Option>
  <Option>
    <Name>MUKUpdate</Name>
    <Title>MUK加歌</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Items>
      <Item>Off</Item>
      <Item>On</Item>
    </Items>
  </Option>
  <Option>
    <Name>ADStrings</Name>
    <Title>广告词</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>www.multak.com</Item>
    </Items>
  </Option>
  <Option>
    <Name>TvSysDefault</Name>
    <Title>默认电视制式</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>PAL</Item>
      <Item>NTSC</Item>
      <Item>HDMI480P</Item>
      <Item>HDMI576P</Item>
      <Item>HDMI720P</Item>
      <Item>YUV480P</Item>
      <Item>YUV576P</Item>
      <Item>YUV720P</Item>
    </Items>
  </Option>
  <Option>
    <Name>ShortCutInFormSearch</Name>
    <Title>半窗切换语言列表快捷键</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Items>
      <Item>Off</Item>
      <Item>On</Item>
    </Items>
  </Option>
  <Option>
    <Name>MaxRec</Name>
    <Title>录音歌曲最大数量</Title>
    <Current>100</Current>
    <Default>100</Default>
    <Minimum>0</Minimum>
    <Maximum>1000</Maximum>
  </Option>
  <Option>
    <Name>MaxFav</Name>
    <Title>喜爱歌曲最大数量</Title>
    <Current>100</Current>
    <Default>100</Default>
    <Minimum>0</Minimum>
    <Maximum>1000</Maximum>
  </Option>
  <Option>
    <Name>MaxRes</Name>
    <Title>预约歌曲最大数量</Title>
    <Current>100</Current>
    <Default>100</Default>
    <Minimum>0</Minimum>
    <Maximum>1000</Maximum>
  </Option>
  <Option>
    <Name>StaffNum</Name>
    <Title>Staff数量</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Minimum>1</Minimum>
    <Maximum>2</Maximum>
  </Option>
  <Option>
    <Name>PlayBarTimeOut</Name>
    <Title>播放条显示时间</Title>
    <Current>5</Current>
    <Default>5</Default>
    <Minimum>1</Minimum>
    <Maximum>1000</Maximum>
  </Option>
  <Option>
    <Name>MusicVol</Name>
    <Title>伴奏和人声</Title>
    <Current>10</Current>
    <Default>10</Default>
    <Minimum>0</Minimum>
    <Maximum>12</Maximum>
  </Option>
  <Option>
    <Name>InputLatency</Name>
    <Title>音频输入延迟</Title>
    <Current>160</Current>
    <Default>160</Default>
    <Minimum>0</Minimum>
    <Maximum>1040</Maximum>
  </Option>
  <Option>
    <Name>OutputLatency</Name>
    <Title>音频输出延迟</Title>
    <Current>200</Current>
    <Default>200</Default>
    <Minimum>0</Minimum>
    <Maximum>1040</Maximum>
  </Option>
  <Option>
    <Name>DownloadRecord</Name>
    <Title>支持多媒体文件录音</Title>
    <Current>0</Current>
    <Default>0</Default>
    <Items>
      <Item>Off</Item>
      <Item>On</Item>
    </Items>
  </Option>
  <Option>
    <Name>YouTubeSearch</Name>
    <Title>YouTube功能</Title>
    <Current>1</Current>
    <Default>1</Default>
    <Items>
      <Item>Off</Item>
      <Item>On</Item>
    </Items>
  </Option>
</Config>
</Configs>
